:root{
    --main-bg-color : hsl(30, 38%, 92%);
    --components-color : hsl(158, 36%, 37%);
    --active-components-color : hsl(158,36%,23%);
    --text-color : hsl(228, 12%, 48%);
    --heading-color: hsl(212, 21%, 14%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
}

main{
    width: 100%;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-bg-color);
}

.card{
    background: #fff;
    min-width: 45rem;
    width: 30%;
    display: flex;
    flex-direction: row;
    border-radius:10px;
}

.left{
    width: 50%;
    background-image: url(image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 10px;
}

.preview{
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
     color: var(--text-color);
}

h1{
    color: var(--heading-color);
    font-weight: 700;
    font-size: 1.5rem;
}

.description{
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.5;
}

.prices{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 35px;
}

.new-price{
    color: var(--components-color);
    font-weight: 700;
    font-size:1.5rem;
}

.old-price{
    text-decoration:line-through;
    color: var(--text-color);
    font-size: 14px;
}

button{
    background-color: var(--components-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 0px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

button:hover{
    background-color: var(--active-components-color);
}

/* media queries */
@media screen and (max-width : 1000px){
    .card{
        min-width: 30rem;
    }
}

@media screen and (max-width: 700px){
    .card{
        min-width: 25rem;
    }
} 

@media screen and (max-width:500px){
    body{
        height: auto;
    }
    main{
        height: 110vh;
    }
    .card{
        min-width: auto;
        width: 80%;
        flex-direction: column;
        justify-content: center;
    }
    p{
        font-size: 14px;
    }
    .left{
        width: 100%;
        height: 13rem;
        background-image: url(image-product-mobile.jpg);
        border-radius: 10px 10px 0px 0px;
    }
    .right{
        width: 100%;
    }
}
